export INPUT_BASE_CSV_FILE=repo-stats.csv
export INPUT_ADDITIONAL_CSV_FILE=migration-audit.csv
export INPUT_OUTPUT_FILE=output.csv
export INPUT_HEADER_COLUMN=header_column_name
export INPUT_BASE_CSV_COLUMNS=Org_Name,Repo_Name
export INPUT_ADDITIONAL_CSV_COLUMNS=org_name,repo_name
