export INPUT_BASE_CSV_FILE=examples/base-sample.csv
export INPUT_ADDITIONAL_CSV_FILE=examples/additional-sample.csv
export INPUT_OUTPUT_FILE=output.csv
export INPUT_HEADER_COLUM_KEYS=type
export INPUT_HEADER_COLUM_VALUES=message
export INPUT_BASE_CSV_COLUMNS=Org_Name,Repo_Name
export INPUT_ADDITIONAL_CSV_COLUMNS=owner,name